
/* 
    Created on : Dec 16, 2024, 11:33:51 PM
    Author     : gavin
*/

.sbcustom-box{
    background-color: #D4AF37;
    margin-bottom: 20px;
    height: auto;
    width: auto !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
    padding-bottom: 40px;
    padding-top: 40px;

}