/* 
    Created on : Nov 20, 2024, 4:12:54 PM
    Author     : Vihanga
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: poppins;
    
}
body{
    overflow-x: hidden;
}
.container{
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    
}
.content{
    padding: 0;

    position: relative;
    width: 100%;
}
.content .img{
    max-width: 100%;
    height: auto;
    background-image: url(Images/SingleMovie.svg);
    background-size: cover;
    align-items: center;
    
}
.content .btn{ 
    background-color: #D4AF37;
    color: black;
    font-size: 19px;
    text-transform: capitalize;
    padding: 12px 25px;
    margin: 0;
    margin-left: 40px;
    position: absolute;
    top: 75%;
    left: 0;
    cursor: pointer;
}
.movie{
    margin-left: 10px;
    padding: 5px;
    position: absolute;
}
.desc{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    margin-left: 14px;
    padding-left: 5px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 18px;
    color: #D4AF37;
    font-weight: normal;
}

.movie .desc .col{
    padding-left: 5px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 18px;
    color: #D4AF37;
    font-weight: normal;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    margin-left: 6px;

}

.movie .row2 .col{
    padding-left: 5px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 20px;
    color: #D4AF37;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 14px;
}

.h6{
    margin-top: 25px;
    padding-left: 15px;
    text-align: left;
}
row2 col h6{
    margin-top: 50px;
    padding-left: 10px;
    margin-left: 10px;
    margin: 30px;
}





/*.home{
    margin-top: 8%;
    margin-left: 10px;
    padding-left: 5px;
    width: 150%;
}

.home p{
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 15px;
    font-family: poppins;
    font-size: 20px;
    color: #D4AF37;
    font-weight: normal;
    position: absolute;
}

.home .fw-bold p{
    margin-top: 80px;
    margin-left: 30px;
    padding-left: 20px;
    font-family: poppins;
    font-size: 22px;
    font-weight: bold;
    color: #D4AF37;
    position: absolute;
}*/







