/* 
    Created on : Nov 20, 2024, 4:12:54 PM
    Author     : Vihanga
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: poppins;
    
    
}
body{
    overflow-x: hidden;
}
.container{
    margin-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    
}
.content{
    padding: 0;

    position: relative;
    width: 100%;
}
.content .img{
    max-width: 100%;
    height: auto;
    background-image: url(Images/SingleMovie.svg);
    background-size: cover;
    align-items: center;
    
}
.content .btn{ 
    background-color: #D4AF37;
    color: black;
    font-size: 19px;
    text-transform: capitalize;
    padding: 12px 25px;
    margin: 0;
    margin-left: 40px;
    position: absolute;
    top: 75%;
    left: 0;
    cursor: pointer;
}


.desc{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    margin-left: 15px;
    padding-left: 5px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 18px;
    color: #D4AF37;
    font-weight: normal;
}

.desc .col{
    padding-left: 5px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 18px;
    color: #D4AF37;
    font-weight: normal;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    margin-left: 6px;
    margin-top: 25px;
    padding-top: -10px;

}

.row1 .col-12 h4{
    padding-left: 3px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 20px;
    color: #D4AF37;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 3px;
}

.row1 .col-12 p{
    padding-left: 1px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 20px;
    color: #D4AF37;
    
    text-transform: capitalize;
    margin-left: 3px;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    margin-top: 20px;
    
}

.row2 .col-12 h4{
    padding-left: 3px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 20px;
    color: #D4AF37;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 3px;
}

.row2 .col-12 p{
    padding-left: 1px;
    margin-top: 35px;
    font-family: poppins;
    font-size: 20px;
    color: #D4AF37;
    text-transform: capitalize;
    margin-left: 3px;
    font-weight: normal;
}


.genre-header{
    color: #D4AF37;
    padding-left: 5px;
    margin-left: 10px;
    font-family: poppins;
    font-size: 18px;
    margin-left: 3px;
    display: flex;
    font-weight: bold;
}

.title{
    color: #D4AF37;
    padding-left: 5px;
    font-family: poppins;
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    font-weight: normal;
}

text{
    color: #D4AF37;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 10px;
    margin-top: -5px;
}

.text1{
    color: #D4AF37;
    font-weight: normal;
}

.button{
    border: none;
    border-radius: 6px;
    color: black;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px 10px;
    margin-top: -5px;
    
}

.button1{
    background-color: #D4AF37;
}

.button2{
    background-color: #D4AF37;
}

.button3{
    background-color: #D4AF37;
}

.button4{
    background-color: #D4AF37;
}
p{
    display: inline-block;
    font-size: 16px;
    
}
h4{
    font-size: 18px;
    font-weight: bold;
    color: #D4AF37;
    padding-left: 3px;
    font-family: poppins;
    margin-left: 3px;
    display: flex;
}
/*.row2 col .box1{
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color: #D4AF37;
    color: black;
    font-size: 19px;
}*/

/*.col-12 .d-flex justify-content-start align-items-center .genre-tag bg-secondary text-light p-2 me-2{
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: #D4AF37;
}*/





/*.home{
    margin-top: 8%;
    margin-left: 10px;
    padding-left: 5px;
    width: 150%;
}

.home p{
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 15px;
    font-family: poppins;
    font-size: 20px;
    color: #D4AF37;
    font-weight: normal;
    position: absolute;
}

.home .fw-bold p{
    margin-top: 80px;
    margin-left: 30px;
    padding-left: 20px;
    font-family: poppins;
    font-size: 22px;
    font-weight: bold;
    color: #D4AF37;
    position: absolute;
}*/







